@import "../../../styles/_colors";
@import "../../../styles/_fonts";
@import "../../../styles/_utils";

.day{
  @extend .center-content;
  position: relative;
  color: $primary-color;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  width: 40px;
  height: 40px;
  border-radius: 4px;


}
.currentDay{
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 10%;
  left: calc( 50% - 3px);
  background-color: #ff0000;

}

.eventContainer{
  @extend .center-content;
  position: absolute;
  top: 31px;
  left: 8px;
}

.event{
  background-color: $second-color;
  border-radius: 6px;
  height: 3px;
  margin-right: 2px;

}

.eventWithout{
  background-color: $primary-color;
  opacity: 25%;
}
